@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  max-width: 1000px;
  padding: 0;
  margin: auto;
  background: linear-gradient(#ded8cf, #bdb0ae);
  box-sizing: border-box;
}
.header{
  height: 100px;
  box-sizing: border-box;
  display: flex;
  background: rgb(203, 223, 239);
}
.header img{
  height: 80px;
  border-radius: 40px;
  margin: 10px;
  order: 1;
}
.header h2{
  text-align: right;
  font-size: 30px;
  margin: 30px 10px;
  flex: 1;
  order: 2;
}
.coffee_layout{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 89vh;
  background-image: linear-gradient(240deg,#f4ecec,#AED6F1);
}
.greting{
  flex: 1;
  display: flex;
}
.hello{
  flex: 1;
  text-align: center;
  padding-top: 130PX;
}
.hello h2{
  font-size: 75PX;
  font-weight: bolder;
  letter-spacing: 3px;
}
.hello p{
  font-size: 20px;
  font-weight: bold;
  color: rgb(128, 61, 10);
}
.coffee{
  flex: 1.4;
  padding: 50px 20px;
}
.coffee img{
  max-width: 80%;
  min-width: auto;
}
.fresh{
  flex: 1;
  text-align: center;
  padding-top: 20px;
}
.fresh h2{
  font-size: 90px;
  letter-spacing: 2px;
  font-weight: bolder;
  letter-spacing: 3px;
  color: #0b5c92;
}
.fresh p{
  font-size: 23px;
  font-weight: bold;
}

.templete_content{
  height: 100vh;
  background: linear-gradient(270deg,#f4ecec,#AED6F1);
}
.tamplete_header{
  height: 80px;
  text-align: center;
  padding-top: 20px;
}
.tamplete_header h2{
  font-weight: bolder;
  font-size: 30px;
  letter-spacing: 3px;
  color: #06446d;
}
.tamplete_header p{
  font-weight: bold;
  font-size: 20px;
  color: #070808;
}
.horizontal_line{
  width: 60%;
  height: 1px;
  margin: 20px auto;
  background-color:rgb(41, 41, 201);
}
.tamplete_layout{
  padding-top: 30px;
  background: linear-gradient(270deg,#f4ecec,#AED6F1);
  display: flex;
  flex-direction: column;
}
.tamplete{
  padding: 10px;
  text-align: center;
}

.tamplete a img{
  max-width: 300px;
  transition: 1s;
  cursor: pointer;
}
.tamplete a img:hover{
  transform: scale(1.8);
}
.tamplete h2{
  font-size: 30px;
  font-weight: bolder;
}
.tamplete p{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer_layout{
  height: 120px;
  background: linear-gradient(5deg,#302b2b,#7096ad);
}
.footer_content{
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
}
.footer_content P{
  font-size: 15px;
  color: #8d979e;
  padding-top: 10px;
}