*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linen;
}
.content{
  width: 100%;
  max-width: 60vw;
  margin: auto;
  background: linear-gradient(267deg,#A9B2B4, #d8c4f5);
  text-align: center;
}
.logo{
  width: 100%;
  height: 10vh;
  text-align: left;
  background-color: rgb(210, 194, 236);
  color: #086079;
}
.col-2{
  float: left;
  width: 500%;
  max-width: 28vw;
}
.hotMug{
  width: 100%;
  padding: 15px;
  display: inline-flexbox;
}
.hello{
  width: 20vw;
  text-align: left;
  color: #943057;
}
.coffe_cup{
  width: 40vw;
  padding: 5vh 5vh 5vh 4vh; 
  text-align: center;
}
img{
  width: 100%;
  max-width: 15vw;
  height: auto;
}
.tmplt{
  row-gap: 10px;
  display: block;
  background-position: center;
  margin: 2vh;
}
.tmplt_split{
  float: left;
  width: 33.3%;
  box-shadow: 0 4px 25px rgba(14,36,49,.2);
  border-radius: 10px;
  overflow: hidden;
  padding: 3px;
}
.tmplt_split img{
  transition: 1s;
  cursor: pointer;
}
.tmplt_split img:hover{
  transform: scale(1.1);
}
.footer{
  width: 100%;
  height: 10vh;
  border-spacing: 0;
  display: inline-block;
  margin-top: 20px;
}