*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linen;
}
.content{
  width: 100%;
  max-width: 60vw;
  margin: auto;
  background: linear-gradient(267deg,#A9B2B4, #d8c4f5);
  text-align: center;
}
.logo{
  width: 100%;
  height: 10vh;
  text-align: left;
  background-color: rgb(210, 194, 236);
  color: #086079;
  float: left;
}
.hotMug{
  width: 100%;
  padding: 15px;
  display: inline-flexbox;
}
.hello{
  width: 20vw;
  text-align: left;
  color: #943057;
}
.coffe_cup{
  width: 40vw;
  padding: 5vh 5vh 5vh 4vh; 
  text-align: center;
}
img{
  max-width: 100%;
  height: auto;
}
