<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Up Work</title>
    <style>
        @media screen and (max-width:480px) {
            .responsive{
                width: 100%;
                display: block;
                margin: auto;
            }
            .responsive p{
                margin: auto;
                padding: 0px 30px 10px 30px;
            }
            .responsive h3{
                padding-left: 30px;
                padding-top: 10px;
            }
            .responsive img{
                padding-top: 15px;
            }
        }
    </style>
</head>
<body style="margin: 0; padding: 0; font-family: sans-serif; color: #222222; box-sizing: border-box;" bgcolor="#F2F2F2 ">
    
    <!--Container-->
    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" style="max-width: 600px; margin: 0  auto; padding: 0; border-collapse: collapse; box-shadow: 0px 5px 5px 0px rgb(0, 0, 0, 0.2);">
        <tr>
            <td>
                <!--Header-->
                <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0; padding: 0; border-collapse: collapse;">
                    <tr>
                        <td><img src="https://raw.githubusercontent.com/AbdurRahmanIE/email_newsletter/master/template/Upwork/assets/logo.png" alt="logo" width="100%" style="width: 100px; display: block; margin: 30px auto;"></td>
                    </tr>
                    <tr>
                        <td style="margin: 0; padding: 0;"><img src="https://raw.githubusercontent.com/AbdurRahmanIE/email_newsletter/master/template/Upwork/assets/header.png" alt="banner" width="100%"></td>
                    </tr>
                </table>

                <!--main content-->
                <table width="100%" cellspacing="0" cellpadding="0" border="0" style="max-width: 600px; margin: 0  auto; padding: 0; border-collapse: collapse;">
                    <tr>
                        <td style="padding: 30px; text-align: justify; line-height: 1.5;">
                            <h2>Hi Abdur,</h2>
                            <p>Your profile is now live, which means you are ready to search for jobs and submit proposals.</p>
                            <P style="font-size: 16px; font-weight: bold;">Here are some of the most important steps you can take in your first few days.</P>
                        </td>
                    </tr>
                </table>

                <!--Profile-Proposal-Connected-->
                <table width="100%" cellspacing="0" cellpadding="0" border="0" style="max-width: 600px; margin: 0  auto; padding: 0; border-collapse: collapse;">

                    <!--Profile-->
                    <tr style="border-bottom: 2px solid #e4e0e0;">
                        <td class="responsive">
                            <img src="https://raw.githubusercontent.com/AbdurRahmanIE/email_newsletter/master/template/Upwork/assets/profile.png" alt="profile" style="width: 60px; display: block; margin: auto; padding-left: 30px; padding-right: 20px;">
                        </td>
                        <td class="responsive">
                            <h3>Make your profile visible.</h3>
                            <p style="text-align: justify; padding-right: 50px; line-height: 1.5;">To ensure clients can see your profile, set it to Public or Only Upwork Users. <a href="https://support.upwork.com/hc/en-us/articles/211060298-Set-Your-Profile-Visibility?utm_source=responsys&utm_medium=email&utm_campaign=2008_RC_FL_Profile_Complete_Rebranded" target="_blank" style="text-decoration: none; font-weight: bold; color: #37A000;">Learn more about profile visibility settings.</a> </p>
                        </td>
                    </tr>

                    <!--Proposal-->
                    <tr style="border-bottom: 2px solid #e4e0e0;">
                        <td class="responsive">
                            <img src="https://raw.githubusercontent.com/AbdurRahmanIE/email_newsletter/master/template/Upwork/assets/proposal.png" alt="profile" style="width: 60px; display: block; margin: auto; padding-left: 30px; padding-right: 20px;">
                        </td>
                        <td class="responsive">
                            <h3>Submit a winning proposal.</h3>
                            <p style="text-align: justify; padding-right: 50px; line-height: 1.5;">The most successful freelancers regularly check their job feed and apply to projects that match their skills. It often takes 5 or more proposals to get your first interview.<a href="https://www.upwork.com/resources/how-to-create-a-proposal-that-wins-jobs?utm_source=responsys&utm_medium=email&utm_campaign=2008_RC_FL_Profile_Complete_Rebranded" target="_blank" style="text-decoration: none; font-weight: bold; color: #37A000;">Read proposal tips here.</a> </p>
                        </td>
                    </tr>

                    <!--Connected-->
                    <tr style="border-bottom: 2px solid #e4e0e0;">
                        <td class="responsive">
                            <img src="https://raw.githubusercontent.com/AbdurRahmanIE/email_newsletter/master/template/Upwork/assets/connected.png" alt="profile" style="width: 60px; display: block; margin: auto; padding-left: 30px; padding-right: 20px;">
                        </td>
                        <td class="responsive">
                            <h3>Stay safe and connected.</h3>
                            <p style="text-align: justify; padding-right: 50px; line-height: 1.5;">Upwork cares about your success. Learn how to <a href="https://support.upwork.com/hc/en-us/articles/211067668-Staying-Safe-on-Upwork?utm_source=responsys&utm_medium=email&utm_campaign=2008_RC_FL_Profile_Complete_Rebranded" target="_blank" style="text-decoration: none; font-weight: bold; color: #37A000;">stay safe</a> and connect with other users in the<a href="https://community.upwork.com/t5/New-to-Upwork/bd-p/New_to_Upwork?utm_source=responsys&utm_medium=email&utm_campaign=2008_RC_FL_Profile_Complete_Rebranded" target="_blank" style="text-decoration: none; font-weight: bold; color: #37A000;">community.</a> </p>
                        </td>
                    </tr>
                </table>

                <!--Foot Note-->
                <table width="100%" cellspacing="0" cellpadding="0" border="0" style="max-width: 600px; margin: 0; padding: 0; border-collapse: collapse;">
                    <tr>
                        <td style="padding: 30px;">
                            <p style="line-height: 1.5;">One last thing: be sure to read <a href="https://support.upwork.com/hc/en-us/articles/211067578-Getting-Started?utm_source=responsys&utm_medium=email&utm_campaign=2008_RC_FL_Profile_Complete_Rebranded" target="_blank" style="text-decoration: none; font-weight: bold; color: #37A000;">Getting Started on Upwork</a> for more information on setting yourself up for success.</p>

                            <p style="line-height: 1.5; padding-top: 10px;">Regards, <br> The Upwork Team</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!--Footer-->
    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="max-width: 600px; margin: 0  auto; padding: 0; border-collapse: collapse;">
        <tr>
            <td>
                <p style="margin: auto; padding: 50px; text-align: center; font-size: 13px; color: #9AAA97; line-height: 1.5;">
                    Unsubscribe  |  Privacy Policy  |  Contact Support <br> 
                    655 Montgomery Street, Suite 490, Dpt 17022, San Francisco, CA 94111 <br>
                    &copy; 2021 Upwork <sup>&#174;</sup> Inc.
                </p>
            </td>
        </tr>
    </table>
</body>
</html>