<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comfort Shoes</title>
</head>
<body style="margin: 0; padding: 0; font-family: sans-serif; background-color: #ece9e9;">

    <!--Container-->
    <div width="100%" style="margin: 0; padding: 0; height: 155px; background-color: #43474A; color: #43474A;">

        <!--Main Email Content-->
        <table cellspacing="0" cellpadding="0" width=100% border="0" style="max-width: 600px; margin: auto;">
            <tr>
                <td>

                    <!--header-->
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="height: 70px; margin: auto;">
                        <tr>
                            <td>
                                <h2 style="text-align: left; color: #ffffff;">Comfort Shoes</h2>
                            </td>
                        </tr>
                    </table>

                    <!--Company Name & Motto-->
                    <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin: 0; padding: 0; height: 270px;" bgcolor="#ffffff">
                        <tr>
                            <td>
                                <h2 style="margin-top: 50px; text-align: center;">COMFORT SHOES</h2>
                                <p style="margin: 0; padding: 0;text-align: center;">Long Lasting Comfort at Affordable Price</p>

                                <table width="100%" border="0" style="margin-top: 50px; padding:0; height: 60px; background-color: #62A9D2;">
                                    <tr>
                                        <td style="padding-left: 20px; text-align: left;"><p style="font-style: italic; color: #43474A;">Stay in Touch!</p></td>
                                        <td style="padding-right: 10px; text-align: right;">
                                            <img src="assets/facebook.png" alt="facebook logo" style="width: 45px; margin-right: 5px;">
                                            <img src="assets/twitter.png" alt="twitter logo" style="width: 45px;">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <!--Main Image & Call to Action-->
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
                        <tr>
                            <td>
                                <img src="assets/bigImg.jpg" alt="main image" style="max-width: 600px; height: 180px; background-size:contain; background-position: center; background-repeat: no-repeat;">
                            </td>
                        </tr>
                    </table>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="height: 50px; background-color: #000000;">
                        <tr>
                            <td><p style="color: #ffffff; padding-left: 10px; letter-spacing: 1px;">Bring power to your steps...</p></td>
                            <td style="text-align: right; padding-right:30px"><a href="#" style="text-decoration: none; color: #ffffff; font-size: 13px; padding: 8px 10px; background-color: #62A9D2;">Find out more</a></td>
                        </tr>
                    </table>

                    <!--Main Content-->
                    <table cellspacing="0" cellpadding="0" width="100%" border="0" bgcolor="#ffffff">
                        <tr>
                            <td width="50%" valign="top" style="padding: 20px;">
                                <h3 style="text-align: center;">Quick tip</h3>
                                <p style="text-align: justify;">If you have a wide, flat foot, then you need a stable shoe. If you have a high arched, rigid foot, then a more cushioned flexible shoe will be more comfortable. </p>
                                <a href="#" style="text-decoration: none;">Read More..</a>
                            </td>
                            <td width="50%" valign="top" style="padding: 10px;">
                                <h3 style="text-align: center;">Guide</h3>
                                <p style="text-align: justify;">A great way to determine if a shoe is stable is to look at the rigidness of the heel counter (the rear end of the shoe) and also to do the twist test.</p>
                                <a href="#" style="text-decoration: none;">Read More..</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h3 style="padding-left: 10px;">Never Compromise with Comforts</h3>
                                <p style="padding: 10px; text-align: justify;">Wow! Didn't realize this was a difficult question, but after discussing what makes up a comfortable shoe with hundreds of women, it turns out there is no one criteria that makes a shoe comfortable. In fact, the "comfort" of a shoe has even been measured in a 16 step process by SATRA (Shoe and Allied Trades Research Association)... <a href="#" style="text-decoration: none;">Read more</a></p>
                            </td>
                        </tr>
                    </table>

                    <!--Footer-->
                    <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin: auto; text-align: center;">
                        <tr>
                            <td>
                                <hr style="margin-top: 50px; ">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 20px; font-size: 13px; color: 
                            #9e9999;">This email was sent to [email] when you signed up on [CLIENTS.WEBSITE] Please add us to your contacts to ensure the newsletters land in your inbox.</td>
                        </tr>
                        <tr>
                            <td style="color: #9e9999;">
                                <h2>Comfort Shoes</h2>
                                <p>13-5, R K Road, Rangpur</p>
                                <p style="color: #9e9999;"><a href="#" style="text-decoration: none;">Forward to a friend</a>
                                <br> <a href="#" style="text-decoration: none;">Unsubscibe</a></p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>