<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="width:525px; font-size:10pt; font-family:Arial, sans-serif;" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td style="font-size:10pt; width:150px; padding-right:10px; vertical-align:middle;" valign="middle">
                
                <a href="https://abdurrahmanie.github.io/email_newsletter/" target="_blank" rel="noopener"> <img border="0" alt="logo" width="143" style="width:143px; height:auto; border:0;" src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/simple-and-light/logo.png"> </a>	
                                            
                </td>
                
                <td style="font-family:Tahoma, sans-serif; padding-left:15px; vertical-align:middle; line-height:1.2; border-left:solid 2px #cccccc" valign="middle">
    
                    <p style="margin-bottom:10px; line-height:1.2"><strong><span style="font-size:12pt; font-family:Tahoma, sans-serif; color:#f57c00">Abdur Rahman</span></strong><br><span style="font-family:Tahoma, sans-serif; font-size:9pt; color:#000000;">HTML Email Developer</span>
                    </p>
    
                    <span style="font-size:9pt; font-family:Tahoma, sans-serif;color:#000000;"><a href="tel:8005550299" style="text-decoration: none; color: #000000;">Call: (800) 555-0299</a></span>   
                    <br>
                    <span style="font-size:9pt; font-family:Tahoma, sans-serif;color:#000000;"><br><a href="mailto:abdurrahman@mycompany.com" style="text-decoration: none; color: #000000;">E-mail: abdur@mycompany.com</a><br></span>   
                </td>
            </tr>
    
        </tbody>
    </table>
</body>
</html>